@using PagedList;
@using PagedList.Mvc;

@model IPagedList<SipoliDev5.Models.ViewModels.PenyediaObat_ViewModel>

@{
    ViewBag.Title = "Penyedia Obat";
}
<style type="text/css">
    ::-webkit-input-placeholder {
        font-style: italic;
    }
</style>
<h2>Data Penyedia Obat</h2>
<hr />
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <!--Lokasi Tabel Daftar Obat-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-lg-9">
                                    <strong>Daftar Penyedia Obat</strong>
                                </div>
                                <div class="col-lg-3">
                                    @using (Html.BeginForm("ExportData", "PenyediaObat", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <button class="btn btn-xs btn-primary col-lg-12" type="submit" name="Export" id="Export"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Ekspor Penyedia Obat</button>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                       @using (Html.BeginForm("Index", "PenyediaObat", FormMethod.Get))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2">Nama</label>
                                    <div class="col-md-4">
                                        <input type="hidden" class="Nama"/>
                                        @Html.TextBox("Nama", null, new { @id = "Penyedia", @class = "form-control", @placeholder="Masukkan nama penyedia" })
                                    </div>

                                    <label class="col-md-2 control-label">CP</label>
                                    <div class="col-md-4">
                                        <input type="hidden" class="CP"/>
                                        @Html.TextBox("CP", null, new { @id = "CP", @class = "form-control", @placeholder = "Masukkan nama CP" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Kota/Kabupaten</label>
                                    <div class="col-md-4">
                                        @*Html.DropDownList("Kota", (IEnumerable<SelectListItem>)ViewBag.Kota, "-- Pilih Kota/Kabupaten --", new { @class = "form-control" })*@
                                        <input type="hidden" class="KotaKabupaten"/>
                                        @Html.TextBox("Kota", null, new { @id = "KotaKabupaten", @class = "form-control", @placeholder = "Masukkan kota/kabupaten" })
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <button class="btn btn-default" type="submit">Cari</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <p>
                            Berikut adalah daftar Penyedia Obat di Poliklinik IPB.
                        </p>
                        <table class="table">
                            <tr>
                                <th class="text-primary">
                                    No
                                </th>
                                <th>
                                    @Html.ActionLink("Nama Penyedia Obat", "Index", new
                                    {
                                        Sortby = ViewBag.SortNamaParameter,
                                        Nama = Request.QueryString["Nama"],
                                        Kota = Request.QueryString["Kota"],
                                        ContactPerson = Request.QueryString["ContactPerson"]
                                    })
                                </th>
                                <th>
                                    @Html.ActionLink("Kota/Kabupaten", "Index", new
                                    {
                                        Sortby = ViewBag.SortKotaParameter,
                                        Nama = Request.QueryString["Nama"],
                                        Kota = Request.QueryString["Kota"],
                                        ContactPerson = Request.QueryString["ContactPerson"]
                                    })
                                </th>
                                <th>
                                    @Html.ActionLink("Contact Person", "Index", new
                                    {
                                        Sortby = ViewBag.SortContactPersonParameter,
                                        Nama = Request.QueryString["Nama"],
                                        Kota = Request.QueryString["Kota"],
                                        ContactPerson = Request.QueryString["ContactPerson"]
                                    })
                                </th>
                                <th class="text-primary">
                                    Nomor Contact Person
                                </th>

                                <th></th>
                            </tr>

                            @{
                            int i = 1;    
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                       @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nama)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KotaKabupatenNama)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactPerson)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomorContactPerson)
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical" role="group" aria-label="...">
                                            @Html.ActionLink("Ubah", "Edit", new { id = item.ID }, new { @class = "btn btn-warning btn-xs" })
                                            @Html.ActionLink("Hapus", "Delete", new { @id = item.ID }, new { @class = "modal-link btn btn-danger btn-xs" })
                                        </div>
                                    </td>
                                </tr>
                                i += 1;
                            }
                            }

                        </table>
                        <center>
                            @Html.PagedListPager(Model, page => Url.Action("Index", new
                            {
                                page,
                                Sortby = Request.QueryString["Sortby"],
                                Nama = Request.QueryString["Nama"],
                                Kota = Request.QueryString["Kota"],
                                ContactPerson = Request.QueryString["ContactPerson"]
                            }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 })
                       </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-lg-12">
                                    <strong>Tambah Data Penyedia Obat</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        @Html.Action("_Create")
                        @if (@ViewBag.error == true)
                        {
                            <br />
                            <div class="alert alert-danger alert-error">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Error!</strong> @ViewBag.pesan.
                                @if (!String.IsNullOrEmpty(@ViewBag.pesan2))
                                {
                                    <br />
                                    <strong>Error!</strong>
                                }
                                @ViewBag.pesan2
                                @if (!String.IsNullOrEmpty(@ViewBag.pesan3))
                                {
                                    <br />
                                    <strong>Error!</strong>
                                }
                                @ViewBag.pesan3
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
                     <script type="text/javascript">
                         $(document).ready(function () {
                             $("#KotaKabupaten").autocomplete({//id textbox
                                 source: function (request, response) {
                                     $.ajax({
                                         url: "/PenyediaObat/GetDataKotaKabupatenFilter",//URL action
                                         type: "POST",
                                         dataType: "json",
                                         data: { term: request.term },
                                         success: function (data) {
                                             response($.map(data, function (item) {
                                                 return {
                                                     label: item.label,
                                                     value: item.value,
                                                     id: item.id,
                                                 };
                                             }));
                                         },
                                         //
                                     })
                                 },
                                 select: function (event, ui) {
                                     //    //update the jquery selector here to your target hidden field
                                     $("input.KotaKabupaten").val(ui.item.id);//class RatingID
                                 }
                             });
                         });
                     </script>

                     <script type="text/javascript">
                         $(document).ready(function () {
                             $("#Penyedia").autocomplete({//id textbox
                                 source: function (request, response) {
                                     $.ajax({
                                         url: "/PenyediaObat/GetDataPenyedia",//URL action
                                         type: "POST",
                                         dataType: "json",
                                         data: { term: request.term },
                                         success: function (data) {
                                             response($.map(data, function (item) {
                                                 return {
                                                     label: item.label,
                                                     value: item.value,
                                                     id: item.id,
                                                 };
                                             }));
                                         },
                                         //
                                     })
                                 },
                                 select: function (event, ui) {
                                     //    //update the jquery selector here to your target hidden field
                                     $("input.Nama").val(ui.item.id);//class RatingID
                                 }
                             });
                         });
                     </script>
                     <script type="text/javascript">
                         $(document).ready(function () {
                             $("#CP").autocomplete({//id textbox
                                 source: function (request, response) {
                                     $.ajax({
                                         url: "/PenyediaObat/GetDataCP",//URL action
                                         type: "POST",
                                         dataType: "json",
                                         data: { term: request.term },
                                         success: function (data) {
                                             response($.map(data, function (item) {
                                                 return {
                                                     label: item.label,
                                                     value: item.value,
                                                     id: item.id,
                                                 };
                                             }));
                                         },
                                         //
                                     })
                                 },
                                 select: function (event, ui) {
                                     //    //update the jquery selector here to your target hidden field
                                     $("input.CP").val(ui.item.id);//class RatingID
                                 }
                             });
                         });
                     </script>

<!--munculin modal-->
<!--<script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>-->





