@model SipoliDev5.Models.ViewModels.Obat_ViewModel


@using (Html.BeginForm("Create", "Obat", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="col-md-4">Nama Obat</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Nama, new {@class="form-control" })<!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.Nama)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Satuan Obat</label>
            <div class="col-md-8">
                @Html.DropDownList("SatuanObatID", (IEnumerable<SelectListItem>)ViewBag.SatuanObatID, "-- Pilih Satuan --", new { @class = "form-control" }) <!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.SatuanObatID)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Golongan Obat</label>
            <div class="col-md-8">
                @Html.DropDownList("GolonganObatID", (IEnumerable<SelectListItem>)ViewBag.GolonganObatID, "-- Pilih Golongan --", new { @class = "form-control" }) <!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.GolonganObatID)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Kegunaan</label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Kegunaan, new { @class = "form-control" })<!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.Kegunaan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Tambah" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}