@model SipoliDev5.Models.Obat

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Obat</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama)
                @Html.ValidationMessageFor(model => model.Nama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SatuanObatID, "SatuanObatID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SatuanObatID", String.Empty)
                @Html.ValidationMessageFor(model => model.SatuanObatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GolonganObatID, "GolonganObatID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GolonganObatID", String.Empty)
                @Html.ValidationMessageFor(model => model.GolonganObatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kegunaan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kegunaan)
                @Html.ValidationMessageFor(model => model.Kegunaan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
