@model SipoliDev5.Models.Obat

@{
    ViewBag.Title = "Details";
}

<h4>Details Obat</h4>
	<hr />
    <table class="table" style="width:auto">
        <tr>
            <th>Nama Obat</th>
            <td>
                @Html.DisplayFor(model => model.Nama)
            </td>  
        </tr> 
       <tr>
           <th>Satuan Obat</th>
           <td>@Html.DisplayFor(model => model.SatuanObat.Nama)</td>
       </tr>
        <tr>
            <th>Golongan Obat</th>
            <td>@Html.DisplayFor(model => model.GolonganObat.Nama)</td>
        </tr>
        <tr>
            <th>Kegunaan</th>
            <td>@Html.DisplayFor(model => model.Kegunaan)</td>
        </tr>

        </Table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
