@model SipoliDev5.Models.RekamMedik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RekamMedik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnamnesaDiagnosa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnamnesaDiagnosa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orang.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orang.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pegawai.GelarDepan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pegawai.GelarDepan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trxRujukan.Bagian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trxRujukan.Bagian)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
