@model SipoliDev5.Models.PengadaanObat

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "PengadaanObat", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Tambah Pengadaan Obat</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Tanggal, "Tanggal", new { @class = "text-primary col-md-2" })<!-- BERUBAH -->
            <div class="col-md-4">
                @Html.TextBox("Tanggal", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date" })<!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.Tanggal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PenyediaObatID, "Penyedia Obat", new { @class = "text-primary col-md-2" })<!-- BERUBAH -->
            <div class="col-md-4">
                @Html.DropDownList("PenyediaObatID", (IEnumerable<SelectListItem>)ViewBag.PenyediaObatID, new { @class = "form-control" })<!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.PenyediaObatID)
            </div>
        </div>


        <table class="table table-striped">
            <tr>
                <th class="text-primary">Nama Obat</th>
                <th class="text-primary">Jumlah Obat</th>
                <th class="text-primary">Harga Aktual</th>
                <th class="text-primary">HET</th>
            </tr>
            <tr>
                <td>
                    <div id='DropDownListGroup'>
                        <div id="DropDownListDiv1">
                            @Html.DropDownList("ObatID1", (IEnumerable<SelectListItem>)ViewBag.ObatID, "-- Pilih Obat --", new { @class = "chosen-select form-control", @id = "ObatID1", @value = "@ViewBag.ObatID1" })
                            @Html.ValidationMessageFor(model => model.ObatID)
                        </div>
                    </div>
                </td>
                <td>
                    <div id='TextBoxesGroup'>
                        <div id="TextBoxDiv1">
                            <input type="text" name="Jumlah1" class="form-control" id="Jumlah1" value="@ViewBag.Jumlah1" />
                            @Html.ValidationMessageFor(model => model.Jumlah)
                        </div>
                    </div>
                </td>
                <td>
                    <div id='TextBoxes1Group'>
                        <div id="TextBox1Div1">
                            <input type="text" name="HargaAktual1" class="form-control" id="HargaAktual1" value="@ViewBag.HargaAktual1" />
                            @Html.ValidationMessageFor(model => model.HargaAktual)
                        </div>
                    </div>
                </td>
                <td>
                    <div id='TextBoxes2Group'>
                        <div id="TextBox2Div1">
                            <input type="text" name="HET1" class="form-control" id="HET1" value="@ViewBag.HET1" />
                            @Html.ValidationMessageFor(model => model.HET)
                        </div>
                    </div>
                    <br />
                    <input type="hidden" id="count" name="count" />
                    <input type='button' value='Tambah Obat' id='addButton' class="btn btn-default">
                    <input type='button' value='Hapus' id='removeButton' class="btn btn-default" />
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>

<script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var counter = 2;
        if (counter == 2) {
            $("#removeButton").hide();
            $("#count").val(1);

        }
        j = 1;
        $("#addButton").click(function () {
            //textbox
            var newTextBoxDiv = $(document.createElement('div'))
                 .attr("id", 'TextBoxDiv' + counter);
            newTextBoxDiv.after().html('<br/><input type="text" name="Jumlah' + counter + '" id="Jumlah' + counter + '" value="" class="form-control">');
            newTextBoxDiv.appendTo("#TextBoxesGroup");

            //textbox1
            var newTextBox1Div = $(document.createElement('div'))
                 .attr("id", 'TextBox1Div' + counter);
            newTextBox1Div.after().html('<br/><input type="text" name="HargaAktual' + counter + '" id="Harga Aktual' + counter + '" value="" class="form-control">');
            newTextBox1Div.appendTo("#TextBoxes1Group");

            //textbox2
            var newTextBox2Div = $(document.createElement('div'))
                 .attr("id", 'TextBox2Div' + counter);
            newTextBox2Div.after().html('<br/><input type="text" name="HET' + counter + '" id="HET' + counter + '" value="" class="form-control">');
            newTextBox2Div.appendTo("#TextBoxes2Group");

            //dropdownlist
            var newDropDownListDiv = $(document.createElement('div'))
                 .attr("id", 'DropDownListDiv' + counter);
            newDropDownListDiv.after().html('<br/><select name="ObatID' + counter + '" id="ObatID' + counter + '" value="" class="form-control"><option value="">--Pilih Obat--</option></select>');
            newDropDownListDiv.appendTo("#DropDownListGroup");

            // ambil data ajax obat
            var options = {};
            options.url = "/PengadaanObat/GetDataStokObat";
            options.type = "POST";
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (data) {

                j++;
                for (k = j; k < counter; k++) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ObatID' + k).append("<option value='" + data[i].Value + "'>" + data[i].Text + " " + data[i].Stok + "</option>");
                    }
                }

            };
            options.error = function () { alert("Error retrieving states!"); };
            $.ajax(options);

            $("#removeButton").show();
            $("#count").val(counter);
            counter++;
            if (counter > 10) {
                $("#addButton").hide();
                return false;
            }

        });

        $("#removeButton").click(function () {
            counter--;
            $("#TextBoxDiv" + counter).remove();
            $("#TextBox1Div" + counter).remove();
            $("#TextBox2Div" + counter).remove();
            $("#DropDownListDiv" + counter).remove();
            $("#addButton").show();
            if (counter == 2) {/*diganti jd 2*/
                $("#removeButton").hide();
                return false;
            }
            $("#count").val(counter - 1);
        });

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
