@model SipoliDev5.Models.PengadaanObat

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Ubah Pengadaan Obat</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.Hidden("jmlsblmedit", null, new { @value = "@ViewBag.jmlsblmedit" })

        <div class="form-group">
            <label class="col-md-2">Tanggal</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Tanggal, "{0:yyyy/MM/dd}", new { @class = "form-control", @placeholder = "Tahun/Bulan/Tanggal" })
                @Html.ValidationMessageFor(model => model.Tanggal)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Nama Penyedia Obat</label>
            <div class="col-md-4">
                @Html.DropDownList("PenyediaObatID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PenyediaObatID)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Nama Obat</label>
            <div class="col-md-4">
                @Html.DropDownList("ObatID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ObatID)
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2">Jumlah</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Jumlah, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Jumlah)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Harga Aktual</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.HargaAktual, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HargaAktual)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">HET</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.HET, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HET)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.E == true)
{
    <div class="alert alert-danger alert-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @if (ViewBag.E1 == true)
        {
            <p><strong>Error!</strong> Masukkan Tanggal Pengadaan.</p>
        }
        @if (ViewBag.E2 == true)
        {
            <p><strong>Error!</strong> Masukkan Jumlah Obat.</p>
        }
        @if (ViewBag.E3 == true)
        {
            <p><strong>Error!</strong> Jumlah Obat harus bilangan positif.</p>
        }
        @if (ViewBag.E4 == true)
        {
            <p><strong>Error!</strong> Jumlah Obat tidak boleh kurang dari @ViewBag.stoksaat.</p>
        }
    </div>
}


    @Html.ActionLink("Kembali", "Index")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
