@model SipoliDev5.Models.mstDokter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mstDokter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusAktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusAktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pegawai.GelarDepan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pegawai.GelarDepan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PegawaiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
