@using PagedList;
@using PagedList.Mvc;

@model IPagedList<SipoliDev5.Models.ViewModels.PengeluaranObat_ViewModel>

@{
    ViewBag.Title = "Pengeluaran Obat";
}

<style type="text/css">
    ::-webkit-input-placeholder {
        font-style: italic;
    }
</style>
@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
{
<h2>Data Pengeluaran Obat</h2>
}
@if (ViewContext.HttpContext.User.IsInRole("StafDramaga"))
{
    <h2>Pemasukan Obat Klinik Dramaga</h2>
}
<hr />
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <!--Lokasi Tabel Daftar Obat-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-lg-12">
                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                                    {
                                    <strong>Daftar Pengeluaran Obat Klinik Baranangsiang</strong>
                                    }
                                    @if (ViewContext.HttpContext.User.IsInRole("StafDramaga"))
                                    {
                                    <strong>Daftar Pemasukan Obat Klinik Dramaga</strong>
                                    }
                                    <!-- Single button -->
                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                                    {
                                    <div class="btn-group" style="margin-left:130px">
                                        <button type="button" class="btn btn-default dropdown-toggle btn btn-success col-lg-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tambah Pengeluaran <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Tambah Pengeluaran Obat untuk Pasien BS", "Create", "PengeluaranObat", null)</li>
                                            <li role="separator" class="divider"></li>
                                            <!--li>@*Html.ActionLink("Tambah Pengeluaran Obat untuk Pasien Dramaga", "CreateBStoDMG", "PengeluaranObat", null)*@</!--li>
                                            <li role="separator" class="divider"></li-->
                                            <li>@Html.ActionLink("Tambah Distribusi Obat ke Klinik Dramaga", "CreateBStoDMG", "PengeluaranObat", null)</li>
                                        </ul>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-body" id="myTab">
                        @if (ViewBag.ErrorDelete == true)
                        {
                            <div class="alert alert-danger alert-error">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>Error! Data tidak dapat dihapus.</strong><br />
                                @ViewBag.PesanDelete
                            </div>
                        }
                        
                        <ul class="nav nav-tabs">
                            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                            {
                            <li class="nav active"><a href="#A" data-toggle="tab">Pengeluaran Obat untuk Pasien Baranangsiang</a></li>
                            }
                            <li class="nav"><a href="#B" data-toggle="tab">Distribusi Obat untuk Klinik Dramaga</a></li>
                        </ul>
                        <br />
                        <div class="tab-content">
                            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                            {
                            <div class="tab-pane fade in active" id="A">
                                <p>
                                    Daftar Pengeluaran Obat di Poliklinik IPB.
                                </p>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Tanggal", "Index", new
                                            {
                                                Sortby = ViewBag.SortTanggalParameter,
                                                Date = Request.QueryString["Date"],
                                                Month = Request.QueryString["Month"],
                                                Year = Request.QueryString["Year"],
                                                Obat = Request.QueryString["Obat"],
                                                Pasien = Request.QueryString["Pasien"],
                                            })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Nama Pasien", "Index", new
                                            {
                                                Sortby = ViewBag.SortPasienParameter,
                                                Date = Request.QueryString["Date"],
                                                Month = Request.QueryString["Month"],
                                                Year = Request.QueryString["Year"],
                                                Obat = Request.QueryString["Obat"],
                                                Pasien = Request.QueryString["Pasien"],
                                            })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Nama Obat", "Index", new
                                            {
                                                Sortby = ViewBag.SortObatParameter,
                                                Date = Request.QueryString["Date"],
                                                Month = Request.QueryString["Month"],
                                                Year = Request.QueryString["Year"],
                                                Obat = Request.QueryString["Obat"],
                                                Pasien = Request.QueryString["Pasien"],
                                            })
                                        </th>
                                        <th class="text-primary">
                                            Jumlah
                                        </th>
                                        <th class="text-primary">
                                            Satuan Obat
                                        </th>
                                        <th class="text-primary">
                                            Klinik
                                        </th>

                                        <th></th>
                                    </tr>
                                   
                                    @foreach (var item in Model.Where(i=>i.TujuanKlinikID==2))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tanggal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pasien)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Obat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Jumlah)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SatuanObat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Klinik)
                                            </td>

                                            <td>
                                                <div class="btn-group-vertical" role="group" aria-label="...">
                                                    @Html.ActionLink("Ubah", "Edit", new { id = item.ID }, new { @class = "btn btn-warning btn-xs" })
                                                    @Html.ActionLink("Hapus", "Delete", new { @id = item.ID }, new { @class = "modal-link btn btn-danger btn-xs" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </table>
                                <center>
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new
                                {
                                    page,
                                    Sortby = Request.QueryString["Sortby"],
                                    Date = Request.QueryString["Date"],
                                    Month = Request.QueryString["Month"],
                                    Year = Request.QueryString["Year"],
                                    Obat = Request.QueryString["Obat"],
                                    Pasien = Request.QueryString["Pasien"],
                                }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 })
                                </center>
                            </div>
                            }
                          
                            <div class="tab-pane fade" id="B">
                                <p>
                                    Daftar Pengeluaran Obat di Poliklinik IPB.
                                </p>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Tanggal", "Index", new
                                            {
                                                Sortby = ViewBag.SortTanggalParameter,
                                                Date = Request.QueryString["Date"],
                                                Month = Request.QueryString["Month"],
                                                Year = Request.QueryString["Year"],
                                                Obat = Request.QueryString["Obat"],
                                                Pasien = Request.QueryString["Pasien"],
                                            })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Nama Obat", "Index", new
                                            {
                                                Sortby = ViewBag.SortObatParameter,
                                                Date = Request.QueryString["Date"],
                                                Month = Request.QueryString["Month"],
                                                Year = Request.QueryString["Year"],
                                                Obat = Request.QueryString["Obat"],
                                                Pasien = Request.QueryString["Pasien"],
                                            })
                                        </th>
                                        <th class="text-primary">
                                            Jumlah
                                        </th>
                                        <th class="text-primary">
                                            Satuan Obat
                                        </th>
                                        <th class="text-primary">
                                            Klinik
                                        </th>
                                        <th class="text-primary">
                                            Tujuan Klinik
                                        </th>

                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.Where(i=>i.TujuanKlinikID==1))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tanggal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Obat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Jumlah)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SatuanObat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Klinik)
                                            </td>

                                            <td>
                                                Dramaga@*Html.DisplayFor(modelItem => item.TujuanKlinikID)*@
                                            </td>
                                            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                                            {
                                            <td>
                                                <div class="btn-group-vertical" role="group" aria-label="...">
                                                    @Html.ActionLink("Ubah", "Edit", new { id = item.ID }, new { @class = "btn btn-warning btn-xs" })
                                                    @Html.ActionLink("Hapus", "Delete", new { @id = item.ID }, new { @class = "modal-link btn btn-danger btn-xs" })
                                                </div>
                                            </td>
                                            }
                                        </tr>
                                    }
                                </table>
                                <center>
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new
                                {
                                    page,
                                    Sortby = Request.QueryString["Sortby"],
                                    Date = Request.QueryString["Date"],
                                    Month = Request.QueryString["Month"],
                                    Year = Request.QueryString["Year"],
                                    Obat = Request.QueryString["Obat"],
                                    Pasien = Request.QueryString["Pasien"],
                                }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 })
                                </center>
                            </div>
                        </div>
                    </div>
                            
                        </div>
                    </div>
        </div>
    </div>
   
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Index", "PengeluaranObat", FormMethod.Get, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal">
                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                        {
                        <h4><strong>Filter dan Ekspor Data Pengeluaran Obat</strong></h4>
                        }
                        @if (ViewContext.HttpContext.User.IsInRole("StafDramaga"))
                        {
                          <h4><strong>Filter dan Ekspor Data Pemasukan Obat</strong></h4>  
                        }
                        <hr />
                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                        {
                        <div class="form-group">
                            <label class="col-md-3">Pilih Data</label>
                            <div class="col-md-9">
                               @Html.DropDownList("Report", new List<SelectListItem> {
                                                             new SelectListItem{Text = "Pengeluaran Obat Untuk Pasien BS", Value="2"},
                                                             new SelectListItem{Text = "Distribusi Obat DMG", Value="1"},
                                                             }, "--Pilih Data--", new { @class = "form-control", @id="pilih" })
                            </div>
                        </div>
                        }
                        @if (ViewContext.HttpContext.User.IsInRole("StafDramaga"))
                        {
                        <div class="form-group">
                            <label class="col-md-3">Pilih Data</label>
                            <div class="col-md-9">
                                @Html.DropDownList("Report", new List<SelectListItem> {
                                                             new SelectListItem{Text = "Distribusi Obat DMG", Value="1"},
                                                             }, new { @class = "form-control", @id = "pilih" })
                            </div>
                        </div>
                        }
                        <div class="form-group">
                            <label class="col-md-3">Nama Obat</label>
                            <div class="col-md-9">
                                @*Html.TextBox("Obat", "", new { @class = "form-control col-md-10" })*@
                                <input type="hidden" class="ObatID"/>
                                @Html.TextBox("Obat", null, new { @id = "Obat", @class = "form-control pilihan1", @disabled="disabled", @placeholder="Masukkan nama obat" })
                            </div>
                        </div>
                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("StafBaranangsiang"))
                        {
                        <div class="form-group">
                            <label class="col-md-3">Nama Pasien</label>
                            <div class="col-md-9">
                                @*Html.TextBox("Pasien", "", new { @class = "form-control col-md-10" })*@

                                <input type="hidden" class="PasienID"/>
                                @Html.TextBox("Pasien", null, new { @id = "Pasien", @class = "form-control pilihan2", @disabled = "disabled", @placeholder="Masukkan nama pasien" })
                                
                            </div>
                        </div>
                        }
                        <div class="form-group">
                            <label class="col-md-3">Bulan</label>
                            <div class="col-md-9">
                                @Html.DropDownList("Month", new List<SelectListItem> {
                                                             new SelectListItem{Text = "Januari", Value="1"},
                                                             new SelectListItem{Text = "Februari", Value="2"},
                                                             new SelectListItem{Text = "Maret", Value="3"},
                                                             new SelectListItem{Text = "April", Value="4"},
                                                             new SelectListItem{Text = "Mei", Value="5"},
                                                             new SelectListItem{Text = "Juni", Value="6"},
                                                             new SelectListItem{Text = "Juli", Value="7"},
                                                             new SelectListItem{Text = "Agustus", Value="8"},
                                                             new SelectListItem{Text = "September", Value="9"},
                                                             new SelectListItem{Text = "Oktober", Value="10"},
                                                             new SelectListItem{Text = "November", Value="11"},
                                                             new SelectListItem{Text = "Desember", Value="12"},
                                                             }, "--Pilih Bulan--", new { @class = "form-control col-md-10 pilihan3", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Tahun</label>
                            <div class="col-md-9">
                                @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.Year, "--Pilih Tahun--", new { @class = "form-control col-md-10 pilihan4", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Tanggal</label>
                            <div class="col-md-9">
                                @Html.TextBox("Date", null, new { @class = "form-control col-md-10 pilihan5", @disabled = "disabled", @type = "date" })
                            </div>
                        </div>
                            <div class="col-md-3"></div>
                            <div class="col-lg-9">
                                <button class="btn btn-default pilihan6" style="margin-left:-10px" type="submit" id="btnSave" name="Command" value="Filter" disabled>Filter</button>
                                @Html.ActionLink("Reset", "Index", "PengeluaranObat", new { @class ="btn btn-md btn-default"})
                                <button class="pilihan6 btn btn-primary" type="submit" id="btnSave" name="Command" value="Export" disabled>Ekspor</button>
                                 <!--<button class="btn btn-primary col-lg-12" type="submit" name="Export" id="Export"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Cetak ke Excel</button>-->
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*JS untuk autocomplete sivitas IPB menggunakan jquery UI*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#Obat").autocomplete({//id textbox
            source: function (request, response) {
                $.ajax({
                    url: "/PengeluaranObat/GetDataObat",//URL action
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.label,
                                value: item.value,
                                id: item.id,
                            };
                        }));
                    },
                    //
                })
            },
            select: function (event, ui) {
                //    //update the jquery selector here to your target hidden field
                $("input.ObatID").val(ui.item.id);//class RatingID
            }
        });
    });
</script>
@*JS untuk autocomplete sivitas IPB menggunakan jquery UI*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#Pasien").autocomplete({//id textbox
            source: function (request, response) {
                $.ajax({
                    url: "/PengeluaranObat/GetDataPasienFilter",//URL action
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.label,
                                value: item.value,
                                id: item.id,
                            };
                        }));
                    },
                    //
                })
            },
            select: function (event, ui) {
                //    //update the jquery selector here to your target hidden field
                $("input.PasienID").val(ui.item.id);//class RatingID
            }
        });
    });
</script>

<script type="text/javascript">
    $(function() { 
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        var lastTab = localStorage.getItem('lastTab');
        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }
    });
</script>
<script type="text/javascript">
    var update_pizza = function () {
        if (document.getElementById("pilih").value == 1 && document.getElementById("pilih").value != "") {
            $('.pilihan1').prop('disabled', false);
            $('.pilihan2').prop('disabled', 'disabled');
            $('.pilihan3').prop('disabled', false);
            $('.pilihan4').prop('disabled', false);
            $('.pilihan5').prop('disabled', false);
            $('.pilihan6').prop('disabled', false);
            $('.pilihan7').prop('disabled', false);
        }
        else if (document.getElementById("pilih").value == 2 && document.getElementById("pilih").value != "") {
            $('.pilihan1').prop('disabled', false);
            $('.pilihan3').prop('disabled', false);
            $('.pilihan4').prop('disabled', false);
            $('.pilihan5').prop('disabled', false);
            $('.pilihan2').prop('disabled', false);
            $('.pilihan6').prop('disabled', false);
            $('.pilihan7').prop('disabled', false);
        }
        else if (document.getElementById("pilih").value == "") {
            $('.pilihan1').prop('disabled', 'disabled');
            $('.pilihan3').prop('disabled', 'disabled');
            $('.pilihan4').prop('disabled', 'disabled');
            $('.pilihan5').prop('disabled', 'disabled');
            $('.pilihan2').prop('disabled', 'disabled');
            $('.pilihan6').prop('disabled', 'disabled');
            $('.pilihan7').prop('disabled', 'disabled');
        }
    };
    $(update_pizza);
    $("#pilih").change(update_pizza);
   
</script>
<!--munculin modal-->
<!--<script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>-->






