@model SipoliDev5.Models.PengeluaranObat

@{
    ViewBag.Title = "Pengeluaran Obat";
}

<!--<script type="text/javascript">
    function validateForm() {
        var x = document.forms["input"]["Jumlah"].value;
        if (x == null || x == "" || x > 100) {
            alert("Jumlah pengeluaran melebihi stok yang ada!");
            return false;
        }
    }
</script>-->

@using (Html.BeginForm("Create", "PengeluaranObatDMG", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Tambah Pengeluaran Obat</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.TextBoxFor(model => model.KlinikID, new { @Value = "1", @type = "hidden" })
        @Html.TextBoxFor(model => model.TujuanKlinikID, new { @Value = "1", @type = "hidden" })

        <div class="form-group">
            @Html.LabelFor(model => model.Tanggal, new { @class = "text-primary col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("Tanggal", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date" })<!-- BERUBAH -->
                @Html.ValidationMessageFor(model => model.Tanggal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasienID, "Nama Pasien", new { @class = "text-primary col-md-2" })<!-- BERUBAH -->
            <div class="col-md-4">
                @*Html.DropDownList("PasienID", (IEnumerable<SelectListItem>)ViewBag.PasienID, new { @class = "form-control" })<!-- BERUBAH -->
                    @Html.ValidationMessageFor(model => model.PasienID)*@

                <input type="hidden" class="PasienID" name="PasienID" />
                @Html.TextBox("SelectedPasien2", null, new { @id = "SelectedPasien2", @class = "form-control" })
                @*JS untuk autocomplete sivitas IPB menggunakan jquery UI*@
                <script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#SelectedPasien2").autocomplete({//id textbox
                            source: function (request, response) {
                                $.ajax({
                                    url: "/PengeluaranObat/GetDataPasien",//URL action
                                    type: "POST",
                                    dataType: "json",
                                    data: { term: request.term },
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return {
                                                label: item.label,
                                                value: item.value,
                                                id: item.id,
                                            };
                                        }));
                                    },
                                    //
                                })
                            },
                            select: function (event, ui) {
                                //    //update the jquery selector here to your target hidden field
                                $("input.PasienID").val(ui.item.id);//class RatingID
                            }
                        });
                    });
                </script>

            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th class="text-primary">Nama Obat</th>
                <th class="text-primary">Jumlah Obat</th>
            </tr>
            <tr>
                <td>
                    <div id='DropDownListGroup'>
                        <div id="DropDownListDiv1">
                            @*Html.DropDownList("ObatID1", (IEnumerable<SelectListItem>)ViewBag.ObatID, "-- Pilih Obat --", new { @class = "chosen-select form-control", @id = "ObatID1" })*@
                            <select name="ObatID1" id="ObatID1" class="form-control"><option value="">--Pilih Obat--</option></select>
                            @Html.ValidationMessageFor(model => model.ObatID)
                        </div>
                    </div>
                </td>
                <td>
                    <div id='TextBoxesGroup'>
                        <div id="TextBoxDiv1">
                            <input type="text" name="Jumlah1" class="form-control" id="Jumlah1" />
                            @Html.ValidationMessageFor(model => model.Jumlah)
                        </div>
                    </div>
                    <br />
                    <input type="hidden" id="count" name="count" />
                    <input type='button' value='Tambah Obat' id='addButton' class="btn btn-default">
                    <input type='button' value='Hapus' id='removeButton' class="btn btn-default" />
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
}
<div>
    @Html.ActionLink("Kembali", "Index")
</div>

<script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var counter = 2;
        if (counter == 2) {
            $("#removeButton").hide();
            $("#count").val(1);

        }
        j = 1;
        $("#addButton").click(function () {
            //textbox
            var newTextBoxDiv = $(document.createElement('div'))
                 .attr("id", 'TextBoxDiv' + counter);
            newTextBoxDiv.after().html('<br/><input type="text" name="Jumlah' + counter + '" id="Jumlah' + counter + '" value="" class="form-control">');
            //newTextBoxDiv.after().html('lalala');
            newTextBoxDiv.appendTo("#TextBoxesGroup");

            //dropdownlist
            var newDropDownListDiv = $(document.createElement('div'))
                 .attr("id", 'DropDownListDiv' + counter);
            newDropDownListDiv.after().html('<br/><select name="ObatID' + counter + '" id="ObatID' + counter + '" value="" class="form-control"><option value="">--Pilih Obat--</option></select>');
            newDropDownListDiv.appendTo("#DropDownListGroup");

            // ambil data ajax obat
            var options = {};
            options.url = "/PengeluaranObatDMG/GetDataStokObat";
            options.type = "POST";
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (data) {

                j++;
                for (k = j; k < counter; k++) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ObatID' + k).append("<option value='" + data[i].Value + "'>" + data[i].Text + " " + data[i].Stok + "</option>");
                    }
                }

            };
            options.error = function () { alert("Error retrieving states!"); };
            $.ajax(options);

            $("#removeButton").show();
            $("#count").val(counter);
            counter++;
            if (counter > 10) {
                $("#addButton").hide();
                return false;
            }

        });

        $(document).ready(function () {
            var options = {};
            options.url = "/PengeluaranObatDMG/GetDataStokObat";
            options.type = "POST";
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (data) {
                var count = $("#count").val();
                for (var k = 1; k <= count; k++) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ObatID' + k).append("<option value='" + data[i].Value + "'>" + data[i].Text + " " + data[i].Stok + "</option>");
                    }
                }
            };
            options.error = function () { alert("Error retrieving states!"); };
            $.ajax(options);
        });

        $("#removeButton").click(function () {
            counter--;
            $("#TextBoxDiv" + counter).remove();
            $("#DropDownListDiv" + counter).remove();
            $("#addButton").show();
            if (counter == 2) {/*diganti jd 2*/
                $("#removeButton").hide();
                return false;
            }
            $("#count").val(counter - 1);
        });

    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
