@model SipoliDev5.Models.StokObat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StokObat</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klinik.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klinik.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obat.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obat.Nama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
