@model SipoliDev5.Models.StokObat

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Ubah Stok Obat</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.KlinikID)
        @Html.HiddenFor(model => model.ObatID)

        <div class="form-group">
            @Html.LabelFor(model => model.Tanggal, new { @class = "col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("Tanggal", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.Tanggal)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Stok, new { @class = "col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("Stok", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stok)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (ViewBag.E == true)
{
    <div class="alert alert-danger alert-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @if (ViewBag.E1 == true)
        {
            <p><strong>Error!</strong> Jumlah obat harus bilangan positif.</p>
        }
        @if (ViewBag.E2 == true)
        {
            <p><strong>Error!</strong> Jumlah obat tidak boleh kosong.</p>
        }
    </div>
}
<div>
    @Html.ActionLink("Kembali", "Index")
</div>