@model SipoliLocal1.Models.ViewModels.RekamMedisIdentitasPasien

@*<link href="~/Content/simple_block.css" rel="stylesheet" type="text/css" />*@

<div class="row">
    <div class="col-lg-12">
        <!--Identitas Pasien-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <strong><span class="glyphicon glyphicon-info-sign"></span> Identitas Pasien</strong>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nama)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nama)
                    </dd>
                    <dt>
                        Tempat, Tanggal Lahir
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TempatLahir) &sbquo; @Html.DisplayFor(model => model.TanggalLahir)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Umur)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Umur)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.JenisKelaminID)
                    </dt>
                    <dd>
                        @if (Model.JenisKelaminID == 1)
                        {
                            <span>Laki-laki</span>
                        }
                        else
                        {
                            <span>Perempuan</span>
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <!--End-Identitas Pasien-->
    </div>
</div>




@*BACKUP 20150527*@
@*<div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <!--Identitas Pasien-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <strong><span class="glyphicon glyphicon-info-sign"></span> Identitas Pasien</strong>
                            </div>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nama)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nama)
                                </dd>
                                <dt>
                                    Tempat, Tanggal Lahir
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.TempatLahir) &sbquo; @Html.DisplayFor(model => model.TanggalLahir)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Umur)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Umur)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.JenisKelaminID)
                                </dt>
                                <dd>
                                    @if (Model.JenisKelaminID == 1)
                                    {
                                        <span>Laki-laki</span>
                                    }
                                    else
                                    {
                                        <span>Perempuan</span>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!--End-Identitas Pasien-->
                </div>
            </div>

            <div id="hasilPeriksa">
                @Html.Action("_RmSeseorang", new { id = ViewBag.id })
            </div>

        </div>
        <div class="col-lg-4">
            <!--Tempat Tabs Riwayat Penyakit-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h5>
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                Riwayat Penyakit Pasien
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in"
                         role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            @Html.Action("_RiwayatPenyakit", new { id = ViewBag.id })
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h5>
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="true"
                               aria-controls="collapseTwo">
                                Riwayat Penyakit Keluarga Pasien
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            @Html.Action("_RiwayatPenyakitKeluarga", new { id = ViewBag.id })
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h5>
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="true"
                               aria-controls="collapseThree">
                                Kelainan Bawaan
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            @Html.Action("_KelainanBawaan", new { id = ViewBag.id })
                        </div>
                    </div>
                </div>
            </div>
            <!--End-Tempat Tabs Riwayat Penyakit-->
        </div>

    </div>
    <hr />

    <!--Partial Tabel Rekam Medis-->
    <div class="row">
        <div class="col-lg-12">
            <!--Tabel RM Seseorang-->

        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

